@font-face {
  font-family:"Wet_Dream";
  src:url("./Wet_Dream.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"SangSangFlowerRoad";
  src:url("./SangSangFlowerRoad.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"HoonSlimskinnyL";
  src:url("./HoonSlimskinnyL.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"Hoon";
  src:url("./Hoon.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"NanumGothic";
  src:url("./NanumGothic.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"THESusu";
  src:url("./THESusu.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"THEDdobak";
  src:url("./THEDdobak.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"Typo";
  src:url("./Typo.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"Wise";
  src:url("./Wise.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"chaerang";
  src:url("./chaerang.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"jua";
  src:url("./jua.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"dohyoen";
  src:url("./dohyoen.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family:"misaeng";
  src:url("./misaeng.ttf") format('truetype');
  font-style:normal;
  font-weight:normal;
}